@media (prefers-color-scheme: dark) {
    #body {
        background: #111111;
        color: #f4f4f4;
    }

    .logo {
        color: #f4f4f4;
    }

    header>div>a{
        color: #f4f4f4;
    }

    #calculator {
        border: #f4f4f4 1px solid;
    }
    .calc-input input{
        color: #f4f4f4;
    }
}